<app-navbar></app-navbar>

<div class="background">
    <h1>Facturación de Libros</h1>
    <h2>Tarot Latinoamerica</h2>
    <div class="stock-info">
        <p style="color: aliceblue;">Mi Stock: {{ sellerStock }}</p>
      </div>
    <div class="registrar-factura-container">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group-container">
          <div class="form-group">
            <label for="seller">ID Vendedor:</label>
            <input type="text" id="seller" name="seller" [(ngModel)]="factura.seller" readonly />
          </div>
          <div class="form-group">
            <label for="clientID">ID Cliente:</label>
            <input type="text" id="clientID" name="clientID" [(ngModel)]="factura.clientID" required />
          </div>
          <div class="form-group">
            <label for="clientName">Nombre Cliente</label>
            <input type="text" id="clientName" name="clientName" [(ngModel)]="factura.clientName" required />
          </div>
          <div class="form-group">
            <label for="clientgmail">Email Cliente</label>
            <input type="text" id="clientgmail" name="clientgmail" [(ngModel)]="factura.clientgmail" required />
          </div>
          <div class="form-group">
            <label for="clientciudad">Ciudad:</label>
            <input type="text" id="clientciudad" name="clientciudad" [(ngModel)]="factura.clientciudad" required />
          </div>
          <div class="form-group">
            <label for="clientdireccion">Dirección:</label>
            <input type="text" id="clientdireccion" name="clientdireccion" [(ngModel)]="factura.clientdireccion" required />
          </div>
          <div class="form-group">
            <label for="clienttelefono">Teléfono:</label>
            <input type="text" id="clienttelefono" name="clienttelefono" [(ngModel)]="factura.clienttelefono" required />
          </div> 
           <div class="form-group">
            <label for="units">Unidades:</label>
            <input type="number" id="units" name="units" [(ngModel)]="factura.units" required />
          </div>
          <div class="form-group">
            <label for="price">Precio:</label>
            <select id="price" name="price" [(ngModel)]="factura.price" (change)="calculateTotal()">
                <option value="" disabled selected>Seleccione un precio</option>
                <option value="200000">Unidad - 200.000 pesos Colombianos</option>
                <option value="150000">Al por mayor - 150.000 pesos Colombianos (a partir de 12)</option>
                <option value="0">Regalo</option>
              </select>
          </div>
        
          <div class="form-group">
            <label for="gift">Incluyó Regalo</label>
            <input type="checkbox" id="gift" name="gift" [(ngModel)]="factura.gift" />
          </div>
          <div class="form-group">
            <label for="tipodepago">Tipo de Pago:</label>
            <select name="tipodepago" id="tipodepago" [(ngModel)]="factura.tipodepago" required>
              <option value="">Seleccione</option>
              <option value="Efectivo">Efectivo</option>
              <option value="Tarjeta-debito">Tarjeta Débito</option>
              <option value="Tarjeta-credito">Tarjeta Crédito</option>
              <option value="Transferencia">Transferencia</option>
              <option value="Sistecredito">Sistecredito</option>
              <option value="Addi">Addi</option>
              <option value="Regalo">Regalo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="total">Total</label>
            <input type="text" id="total" name="total" [(ngModel)]="factura.total" readonly />
          </div>
        </div>
        <button type="submit">Agregar Venta</button>
      </form>
      <button (click)="downloadSalesExcel()">Descargar Ventas en Excel</button>
      <h3>Datos de Ventas</h3>
      <button (click)="toggleSalesData()">
        {{ showSalesData ? "Ocultar Datos" : "Mostrar Datos" }}
      </button>
      <div class="table-container" *ngIf="showSalesData">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Vendedor</th>
              <th>Cliente</th>
              <th>ID</th>
              <th>Email</th>
              <th>Ciudad</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Precio</th>
              <th>Unidades</th>
              <th>Regalo</th>
              <th>Tipo de pago</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of paginatedSales; let i = index">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.sellerName }}</td>
              <td>{{ item.clientName }}</td>
              <td>{{ item.clientID }}</td>
              <td>{{ item.clientgmail }}</td>
              <td>{{ item.clientciudad }}</td>
              <td>{{ item.clientdireccion }}</td>
              <td>{{ item.clienttelefono }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.units }}</td>
              <td>{{ item.gift ? "Sí" : "No" }}</td>
              <td>{{ item.tipodepago }}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-controls">
          <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
          <span>Página {{ currentPage }}</span>
          <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= sales.length">Siguiente</button>
        </div>
      </div>
    </div>
  </div>